@model SampleMvc.Web.Models.UserViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm<UsersController>(c => c.Update(null)))
{
    @Html.ValidationSummary(true)
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(model => model.Id)
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Save" />
    </p>
}
<div>
    @(Html.ActionLink<UsersController>(c => c.Index(), "Back to List"))
</div>